In [2]:
'''
As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

Your final report should include each of the following:

**Player Count**


**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

As final considerations:

* Your script must work for both data-sets given.
* You must use the Pandas Library and the Jupyter Notebook.
* You must submit a link to your Jupyter Notebook with the viewable Data Frames. 
* You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  
* You must include a written description of three observable trends based on the data. 
* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_Example.pdf) for a reference on expected format. 
'''

"\nAs a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.\n\nYour final report should include each of the following:\n\n**Player Count**\n\n\n**Purchasing Analysis (Gender)** \n\n* The below each broken by gender\n  * Purchase Count\n  * Average Purchase Price\n  * Total Purchase Value\n  * Normalized Totals\n\n**Age Demographics**\n\n* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) \n  * Purchase Count\n  * Average Purchase Price\n  * Total Purchase Value\n  * Normalized Totals\n\n**Top Spenders**\n\n* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):\n  * SN\n  * Purchase Count\n  * Average Purchase Price\n  * Total Purchase Value\n\n**Most Popular Items**\n\n* Identify the 5 most popular items by purchase count, then list (in a table):\n  * Item ID\n  * Item Name\n  * Purchase Count\n  * Item Price\n  * Total Purchase Value\n\n**Most Profitable Items**\n\n* Identify the 5 most profitable items by total purchase value, then list (in a table):\n  * Item ID\n  * Item Name\n  * Purchase Count\n  * Item Price\n  * Total Purchase Value\n\nAs final considerations:\n\n* Your script must work for both data-sets given.\n* You must use the Pandas Library and the Jupyter Notebook.\n* You must submit a link to your Jupyter Notebook with the viewable Data Frames. \n* You must include an exported markdown version of your Notebook called  `README.md` in your GitHub repository.  \n* You must include a written description of three observable trends based on the data. \n* See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_Example.pdf) for a reference on expected format. \n"

In [3]:
#dependencies
import pandas as pd

In [32]:
#read CSV
json_path='purchase_data.json'

df = pd.read_json(json_path)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [33]:
#**Player Count**

#Total Number of Players
total_players=len(df["SN"].value_counts())
print(f"Total players: {total_players}")

Total players: 573

In [203]:
#**Purchasing Analysis

#Number of Unique Items
unique_items_count=len(df['Item ID'].value_counts())

#Average Purchase Price
avg_purchase_price=df["Price"].mean()

# Total Number of Purchases
total_purchases=df["Price"].count()

# Total Revenue
total_revenue=df["Price"].sum()

print(f"Total Unique Items: {unique_items_count}")
print(f"Avg. Purchase Price: ${round(avg_purchase_price,2)}")
print(f"Total Purchases: {total_purchases}")
print(f"Total Revenue: ${round(total_revenue,2)}")

Total Unique Items: 183
Avg. Purchase Price: $2.93
Total Purchases: 780
Total Revenue: $2286.33

In [204]:
#**Gender Demographics**

#* Percentage and Count of Male Players
#* Percentage and Count of Female Players
#* Percentage and Count of Other / Non-Disclosed

# Calculate percentage of respondents belonging to each gender



total_males=len(df.loc[df["Gender"]=="Male",]["SN"].value_counts())
total_females=len(df.loc[df["Gender"]=="Female",]["SN"].value_counts())
total_other = total_players - total_males - total_females

pct_male = round(total_males/total_players*100,2)
pct_female = round(total_females/total_players*100,2)
pct_other = round(total_other/total_players*100,2)
#pct_no_gender = round(total_no_gender/total_gender*100,2)

print(f"Males:               {total_males} ({pct_male}%)")
print(f"Females:             {total_females} ({pct_female}%)")
print(f"Other/Non-Disclosed: {total_other}   ({pct_other}%)")
#print(f"% No Response: {pct_no_gender}%")

Males:               465 (81.15%)
Females:             100 (17.45%)
Other/Non-Disclosed: 8   (1.4%)

In [210]:
#**Purchasing Analysis (Gender)** 

#* The below each broken by gender
 # * Purchase Count
 # * Average Purchase Price
 # * Total Purchase Value
 # * Normalized Totals

 # * Purchase Count
gender_group=df.groupby("Gender")
purchase_count_by_gender=pd.DataFrame(gender_group["Price"].count())
purchase_count_by_gender=purchase_count_by_gender.rename(columns={"Price":"Purchase Count"}).reset_index()
#purchase_count_by_gender

 # * Average Purchase Price
avg_purchase_price_by_gender=pd.DataFrame(gender_group["Price"].mean())
avg_purchase_price_by_gender=avg_purchase_price_by_gender.rename(columns={"Price":"Avg. Purchase Price"}).reset_index()
#avg_purchase_price_by_gender    

 # * Total Purchase Value
total_purchase_value_by_gender=pd.DataFrame(gender_group["Price"].sum())
total_purchase_value_by_gender=total_purchase_value_by_gender.rename(columns={"Price":"Total Purchase Value"}).reset_index()
#total_purchase_value_by_gender 

#summarize all stats by gender

gender_stats = pd.DataFrame({"Gender": ["Female","Male","Other / Non-Disclosed"],
              "Total Users": [total_females, total_males, total_other]})

gender_stats=gender_stats.merge(total_purchase_value_by_gender, on="Gender")

#Normalized Totals
gender_stats["Normalized Totals"]=gender_stats["Total Purchase Value"]/gender_stats["Total Users"]
gender_stats=gender_stats.merge(purchase_count_by_gender, on="Gender")
gender_stats=gender_stats.merge(avg_purchase_price_by_gender, on="Gender")
gender_stats=gender_stats[["Gender","Purchase Count","Avg. Purchase Price","Total Purchase Value","Normalized Totals"]]
gender_stats

,Gender,Purchase Count,Avg. Purchase Price,Total Purchase Value,Normalized Totals
0,Female,136,2.815515,382.91,3.829100
1,Male,633,2.950521,1867.68,4.016516
2,Other / Non-Disclosed,11,3.249091,35.74,4.467500

In [214]:
#**Top Spenders**

#* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#  * SN
#  * Purchase Count
#  * Average Purchase Price
# * Total Purchase Value

groupby_user = df.groupby("SN")

#top 5 spenders
groupby_user_sorted = df.groupby("SN").sum().sort_values("Price", ascending=False)
top_5_spenders=groupby_user_sorted.iloc[0:5,:].reset_index()[["SN"]]

#add Purchase Counts per user
purchase_counts_per_user=pd.DataFrame(groupby_user["Price"].count())
purchase_counts_per_user=purchase_counts_per_user.reset_index()
top_5_spenders=top_5_spenders.merge(purchase_counts_per_user, on="SN").rename(columns={"Price":"Purchase Count"})

#add Avg Purchase Price per user
avg_purchase_price_per_user=pd.DataFrame(groupby_user["Price"].mean())
avg_purchase_price_per_user=avg_purchase_price_per_user.reset_index()
top_5_spenders=top_5_spenders.merge(avg_purchase_price_per_user, on="SN").rename(columns={"Price":"Avg Purchase Price"})

#add Total Purchase Value per user
total_purchase_value_per_user=pd.DataFrame(groupby_user["Price"].sum())
total_purchase_value_per_user=total_purchase_value_per_user.reset_index()
top_5_spenders=top_5_spenders.merge(total_purchase_value_per_user, on="SN").rename(columns={"Price":"Total Purchase Value"})

#display summary table
top_5_spenders

            SN  Purchase Count  Avg Purchase Price  Total Purchase Value
0  Undirrala66               5            3.412000                 17.06
1     Saedue76               4            3.390000                 13.56
2  Mindimnya67               4            3.185000                 12.74
3   Haellysu29               3            4.243333                 12.73
4       Eoda93               3            3.860000                 11.58

In [212]:
#**Most Popular Items**

#* Identify the 5 most popular items by purchase count, then list (in a table):
#  * Item ID
#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value

groupby_item = df.groupby("Item ID")

#top 5 items by purchase count
groupby_item_sorted = df.groupby("Item ID").count().sort_values("Price", ascending=False)
top_5_items=groupby_item_sorted.iloc[0:5,:].reset_index()[["Item ID"]]

#add item names
top_5_items=pd.DataFrame(top_5_items.merge(df[["Item ID","Item Name"]].drop_duplicates(), on="Item ID"))

#add Purchase Counts per item
purchase_counts_per_item=pd.DataFrame(groupby_item["Price"].count())
purchase_counts_per_item=purchase_counts_per_item.reset_index()
top_5_items=top_5_items.merge(purchase_counts_per_item, on="Item ID").rename(columns={"Price":"Purchase Count"})

#add Avg Purchase Price per item
avg_purchase_price_per_item=pd.DataFrame(groupby_item["Price"].mean())
avg_purchase_price_per_item=avg_purchase_price_per_item.reset_index()
top_5_items=top_5_items.merge(avg_purchase_price_per_item, on="Item ID").rename(columns={"Price":"Avg Purchase Price"})

#add Total Purchase Value per item
total_purchase_value_per_item=pd.DataFrame(groupby_item["Price"].sum())
total_purchase_value_per_item=total_purchase_value_per_item.reset_index()
top_5_items=top_5_items.merge(total_purchase_value_per_item, on="Item ID").rename(columns={"Price":"Total Purchase Value"})

#display summary table
top_5_items

,Item ID,Item Name,Purchase Count,Avg Purchase Price,Total Purchase Value
0,39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
1,84,Arcane Gem,11,2.23,24.53
2,31,Trickster,9,2.07,18.63
3,175,Woeful Adamantite Claymore,9,1.24,11.16
4,13,Serenity,9,1.49,13.41

In [196]:
#**Most Profitable Items**

#* Identify the 5 most profitable items by total purchase value, then list (in a table):
#  * Item ID
#  * Item Name
#  * Purchase Count
#  * Item Price
#  * Total Purchase Value


#top 5 items by total purchase value
groupby_item_total_value_sorted = df.groupby("Item ID").sum().sort_values("Price", ascending=False)
top_5_items_total_value=groupby_item_total_value_sorted.iloc[0:5,:].reset_index()[["Item ID"]]

#add item names
top_5_items_total_value=pd.DataFrame(top_5_items_total_value.merge(df[["Item ID","Item Name"]].drop_duplicates(), on="Item ID"))

#add Purchase Counts per item
top_5_items_total_value=top_5_items_total_value.merge(purchase_counts_per_item, on="Item ID").rename(columns={"Price":"Purchase Count"})

#add Avg Purchase Price per item
top_5_items_total_value=top_5_items_total_value.merge(avg_purchase_price_per_item, on="Item ID").rename(columns={"Price":"Avg Purchase Price"})

#add Total Purchase Value per item
top_5_items_total_value=top_5_items_total_value.merge(total_purchase_value_per_item, on="Item ID").rename(columns={"Price":"Total Purchase Value"})

#display summary table
top_5_items

,Item ID,Item Name,Purchase Count,Avg Purchase Price,Total Purchase Value
0,34,Retribution Axe,9,4.14,37.26
1,115,Spectral Diamond Doomblade,7,4.25,29.75
2,32,Orenmir,6,4.95,29.70
3,103,Singed Scalpel,6,4.87,29.22
4,107,"Splitter, Foe Of Subtlety",8,3.61,28.88

'\n#display summary table\ntop_5_items'

In [ ]:
#* You must include a written description of three observable trends based on the data. 


#1.) There are both a lot more males than females who make purchases in this game 
#(although we don't know what percentage they represent of all PLAYERS in the game, assuming it is free-to-play)